<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658569844340-e88o8loc5jgj22akf3ua8jia1jqrcvko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658569844340-e88o8loc5jgj22akf3ua8jia1jqrcvko</string>
	<key>API_KEY</key>
	<string>AIzaSyCWztkbH_bJEWXPlEcJSaJpB141CdugPQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>658569844340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outset</string>
	<key>PROJECT_ID</key>
	<string>outset-9b6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>outset-9b6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658569844340:ios:6a239926f5a0888e682321</string>
</dict>
</plist>